<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">


   	<context-param>
		<param-name>db_username</param-name>
		<param-value>root</param-value>
	</context-param>
	
	<context-param>
		<param-name>db_password</param-name>
		<param-value></param-value>
	</context-param>
		
	<context-param>
		<param-name>database</param-name>
		<param-value>mytestdb</param-value>
	</context-param>
	
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>core.ConfirmServlet</servlet-class>
        
    	<init-param>
			<param-name>adminEmail</param-name>
			<param-value>getnpk@gmail.com</param-value>
		</init-param>
		
    </servlet>

    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/Confirm</url-pattern>
    </servlet-mapping>


	<servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>core.Display</servlet-class>
        
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/Display</url-pattern>
    </servlet-mapping>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	
</web-app>


